.CustomTable {
  flex-direction: column;
  border-radius: 5px;
  min-height: 60vh;
}
.buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 20px;
}
.customButton {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.1px !important;
  text-align: left !important;
  cursor: pointer !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px !important;
  padding: 6px 16px 6px 16px;
  border: 1px solid #228dff;
}
.customAccordinHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95% !important;
}
.accordion-item {
  border-left: 0 !important;
  border-right: 0 !important;
}
.headerText {
  color: #bdbdbd !important;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  border: unset;
}
.tableDataText {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 16px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #4f4f4f !important;
}
.table {
  margin-bottom: 0px !important;
}

.leftHeaderBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.leftSubBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.LabelRow {
  display: flex;
  flex-direction: row;
  padding-right: 6%;
}
.labelValue {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(79, 79, 79, 1);
}
.LabelText {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(130, 130, 130, 1);
  padding-right: 10px;
}
.rightBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding: 8px 20px;
}
.subHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px 20px;
  border-bottom: 1px solid #e0e0e0;
}
.ProgressLabel {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(130, 130, 130, 1);
  padding-right: 4px;
}
.ProgressText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(79, 79, 79, 1);
}
.Efficiency {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}
