.tabs {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 2px solid #e0e0e0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.SingleTab {
  color: rgba(189, 189, 189, 1);
  padding: 8px 20px;
  cursor: pointer;
}
.activeTab {
  color: #228dff;
  padding: 8px 20px;
  border-bottom: 2px solid #228dff;
  margin-bottom: -2px;
  cursor: pointer;
}
