.navbar {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.sidebar {
	padding: 10px;
	box-sizing: border-box;
}

.sidebar-left {
	background-color: #f0f0f0;
	width: 200px;
}

.sidebar-bottom {
	background-color: #e0e0e0;
	width: 200px;
}

.content {
	display: flex;
	flex-direction: column;
}

.main_content {
	flex-grow: 1;
	padding: 20px;
	background-color: #fff;
}

.side_content {
	background-color: red;
}

.heading {
	//styleName: Header/24 Semibold;
	// font-family: Open Sans;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
}

.text {
	//styleName: Body/14 Light;
	// font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
}

/* Navbar.css */
.navbar {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* Sidebar.css */
.sidebar {
	padding: 10px;
	box-sizing: border-box;
}

.sidebar-left {
	background-color: #f0f0f0;
	width: 200px;
}

.sidebar-bottom {
	background-color: #e0e0e0;
	width: 200px;
}

/* App.css */

.content {
	display: flex;
	flex-direction: column;
}

.main_content {
	flex-grow: 1;
	padding: 20px;
	background-color: #fff;
}

.side_content {
	background-color: red;
}

.heading {
	//styleName: Header/24 Semibold;
	// font-family: Open Sans;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
}

.text {
	//styleName: Body/14 Light;
	// font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
}

/* Navbar.css */
.navbar {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* Sidebar.css */
.sidebar {
	padding: 10px;
	box-sizing: border-box;
}

.sidebar-left {
	background-color: #fff;
	width: 200px;
}

.sidebar-bottom {
	background-color: #e0e0e0;
	width: 200px;
}

/* App.css */
.app {
	display: flex;
}

.content {
	display: flex;
	flex-direction: column;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	background-color: #fff;
}

.heading {
	//styleName: Header/24 Semibold;
	// font-family: Open Sans;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
}

.text {
	//styleName: Body/14 Light;
	// font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
}

.flexContainer {
	display: flex;
	height: 100vh;
}

.navbarContainer {
	display: flex;
	// flex-direction: column;
	flex-grow: 1;
}

.sidebarContainer {
	display: flex;
	background-color: #f5f5f5;
	// max-height: 94vh;
	flex: 1;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: #f5f5f5;
}

.innerContainer {
	flex: 1;
	overflow: auto;
	padding: 0px 16px;

	@media (max-width: "768px") {
		padding: 0px;
	}
}
