.heading {
	/* //styleName: Header/24 Semibold; */
	font-family: Open Sans;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
	display: block;
	@media (max-width: 768px) {
		font-size: 20px;
	}
}
.nameText {
	flex: 1 1 0;
	color: #333333;
	font-size: 24px;
	font-family: "Open Sans !important";
	font-weight: 600;
	letter-spacing: 0.1;
	word-wrap: break-word;
	/* margin-bottom: 12px !important; */
}

.HR{
	flex: 1 1 0;
	color: #333333;
	font-size: 24px;
	
	font-weight: 600;
	letter-spacing: 0.1;
}

.description {
	color: #333333;
	font-size: 14px;
	font-family: "Roboto";
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.1;
	word-wrap: "break-word";
	margin-bottom: 32px;
}

.text {
	/* //styleName: Body/14 Light;
    // font-family: Roboto; */
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #333333;
	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.customFlexColumn {
	display: flex;
	flex-direction: column;
	background-color: blueviolet;
}

.customFlexSpaceBetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 8px;
}

.flexSpaceCS {
	padding-top: 24px;
	max-width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs {
	background-color: #f5f5f5;
	width: 95%;
	display: flex;
	flex-direction: column;

	@media (max-width: 768px) {
		width: 100vw;
		margin-top: -10px;
		overflow-x: auto;
		/* // margin-bottom: -10px; */
	}
}



.viewHr {
	justify-content: center;
	align-items: center;
	gap: 8px;
	display: flex;
}

.newHeader {
	width: 100vw;
	margin: -10px 0px 25px 0px;
}

.customLink {
	text-decoration: none;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #228dff;
}

.customBackground {
	background-color: #f5f5f5;

	width: 75vw;
	display: flex;

	@media (max-width: 768px) {
		width: 100vw;
	}
}

.links {
	color: #bdbdbd;
	font-family: Roboto !important;
	font-size: 16px !important;
	font-style: normal !important;
	font-weight: 300;
	line-height: 24px; /* 150% */
	letter-spacing: 0.1px;
	background: transparent;
	padding: 0 8px;
	line-height: 32px; /* 160% */
	letter-spacing: 0.1px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.icon {
	width: 24px;
	height: 24px;
	position: relative;
	cursor: pointer;
}

.tabBackground {
	background-color: #f5f5f5;
	width: 75vw;
	display: block;

	@media (max-width: 768px) {
		width: 100vw;
	}
}
