.field {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.inputStyle {
  color: var(--Gray-Black, #333) !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  letter-spacing: 0.1px !important;
  border-radius: 8px !important;
  border: 1px solid var(--Gray-Gray-03, #bdbdbd) !important;
  background: var(--Gray-White, #fff);
  min-height: 38px !important;
}
.labelStyle {
  color: var(--Gray-Black, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  align-self: stretch;
  margin-bottom: 4px;
}
