.CustomTable {
  flex-direction: column;
  border-radius: 5px;
  min-height: 60vh;
}
.buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  /* padding-bottom: 10px; */
  padding: 8px 20px;
}

.headerText {
  color: #bdbdbd !important;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  border: unset;
}
.tableDataText {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 16px;
  color: #4f4f4f !important;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.customButton {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border-radius: 8px;
}
.customButton path {
  stroke: #228dff;
  transition: stroke 0.3s; /* Adding transition for smooth hover effect */
}

.customButton:hover path {
  stroke: #fff;
}
